Atencion_al_Cliente.json
{
  "name": "Atencion al Cliente",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.message }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        4440,
        260
      ],
      "id": "a159577a-3342-4ffd-b864-5f9b410d55c8",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        4300,
        440
      ],
      "id": "476e88b3-218d-48ee-bb1d-4f6f63d6a627",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "CfW0f9FhVHbZ7ZyP",
          "name": "OpenAi account Fidel"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.body.message }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        4480,
        440
      ],
      "id": "addc49d4-9e81-4a43-8201-548104947f8b",
      "name": "Window Buffer Memory"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"response\": \"{{ $json.response.text.replace(/\\n+/g, ' ').replace(/['\"]/g, ' ').replace(/['*']+/g, ' ')}}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        2900,
        40
      ],
      "id": "683ac31b-617b-4c8d-9f55-be16a6181975",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "name": "Mosses",
        "description": "Devuelve información sobre datos de contabilidad y soporte para aplicaciones de Mosses"
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1,
      "position": [
        4640,
        440
      ],
      "id": "b10f7187-0050-46f1-ac8b-d8f93782fb89",
      "name": "Answer questions with a vector store"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        4820,
        660
      ],
      "id": "15720f5b-7278-4baa-8e74-58e675950126",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "CfW0f9FhVHbZ7ZyP",
          "name": "OpenAi account Fidel"
        }
      }
    },
    {
      "parameters": {
        "content": "## Inicio del chat \nSe debe de configurar un mensaje de bienvenida inicial desde la web o aplicación donde se desplegara"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -160,
        -220
      ],
      "typeVersion": 1,
      "id": "4dd75eb1-0b7c-4a5e-bfa6-683d4accd3d4",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Buscar información en la base de datos \nLo analisa con un embedding y regresa la informacion transformada y para poder responder a la consulta",
        "height": 200
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        480,
        20
      ],
      "typeVersion": 1,
      "id": "28942756-a3f0-4094-90f0-59d4e4b00cdd",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Respuestas en memoria\nCuando el agente ya conoce la respuesta a una pregunta ",
        "height": 200
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2660,
        360
      ],
      "typeVersion": 1,
      "id": "68166a6c-e909-4847-aa1a-7a5fffae3c65",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "url": "=https://ideal-insect-equally.ngrok-free.app/Dashboard/PersonaExtension/CuentasPorCobrar",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4560,
        20
      ],
      "id": "9e57c4b9-78c0-46ac-a9f8-83c9a5c032f7",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"response.text\" : \"Los impuestos del periodo {{ $('HTTP Request').item.json.año}}-{{ $('HTTP Request').item.json.mes }} se dibiden en ISR: {{ $('HTTP Request').item.json.isr }} IVA: {{ $('HTTP Request').item.json.iva }} con un total de: {{ $('HTTP Request').item.json.total }}\"\n\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4760,
        20
      ],
      "id": "f8d774f9-9c39-4d8a-8e7e-4d8ffc8287da",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "content": "## Cuáles son mis impuestos?\nConsulta en la api con el id del cliente cuales son sus impuestos, de igual manera se consulta el nombre",
        "height": 200
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        760,
        -480
      ],
      "typeVersion": 1,
      "id": "40de2cce-f75e-4b2c-beb5-4a57fb9949cc",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "pineconeIndex": {
          "__rl": true,
          "value": "mossesn8n",
          "mode": "list",
          "cachedResultName": "mossesn8n"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1,
      "position": [
        4480,
        640
      ],
      "id": "763c5acf-f163-47b4-895a-d2a561c71f14",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "YkWFte4JVNpkRoSF",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        4580,
        860
      ],
      "id": "c0b1553c-ec09-457e-8391-869bceac6957",
      "name": "Embeddings OpenAI2",
      "credentials": {
        "openAiApi": {
          "id": "CfW0f9FhVHbZ7ZyP",
          "name": "OpenAi account Fidel"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {
          "responseFormat": "text",
          "temperature": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        200,
        -180
      ],
      "id": "ad660489-7eb3-470b-89dd-2fc5bb3de35c",
      "name": "OpenAI Chat Model3",
      "credentials": {
        "openAiApi": {
          "id": "CfW0f9FhVHbZ7ZyP",
          "name": "OpenAi account Fidel"
        }
      }
    },
    {
      "parameters": {
        "topK": 10
      },
      "type": "@n8n/n8n-nodes-langchain.retrieverVectorStore",
      "typeVersion": 1,
      "position": [
        340,
        -220
      ],
      "id": "cd80d6ab-fecb-456c-a843-64f8df45cecd",
      "name": "Vector Store Retriever"
    },
    {
      "parameters": {
        "pineconeIndex": {
          "__rl": true,
          "value": "mossesn8n",
          "mode": "list",
          "cachedResultName": "mossesn8n"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1,
      "position": [
        340,
        -80
      ],
      "id": "ae52e82f-0a9b-43b9-b65b-d4d4ce3db321",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "YkWFte4JVNpkRoSF",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        360,
        100
      ],
      "id": "9c609ae1-957a-4682-9eda-cb91b1cea67e",
      "name": "Embeddings OpenAI3",
      "credentials": {
        "openAiApi": {
          "id": "CfW0f9FhVHbZ7ZyP",
          "name": "OpenAi account Fidel"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "de1da178-f744-4130-a7d7-a8d7d981eb71",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -120,
        -40
      ],
      "id": "654fc12e-959f-4cc8-a56f-e038a4f6099b",
      "name": "Webhook",
      "webhookId": "de1da178-f744-4130-a7d7-a8d7d981eb71",
      "notesInFlow": false
    },
    {
      "parameters": {
        "content": "## RAG AI Agent",
        "height": 1460,
        "width": 3340,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -220,
        -840
      ],
      "id": "20a2341d-5900-45af-8154-e9209cc84b09",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1960,
        380
      ],
      "id": "02d86847-249d-4689-9450-386c6ed69612",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "CfW0f9FhVHbZ7ZyP",
          "name": "OpenAi account Fidel"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"response.text\" : \"{{ $json.output.replace(/\\n+/g, ' ') }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2360,
        180
      ],
      "id": "fc010df2-bbf5-4fbf-9fd2-719e06a840f7",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "agent": "conversationalAgent",
        "promptType": "define",
        "text": "={{ $('Webhook').item.json.body.message }}",
        "options": {
          "systemMessage": "Use polite and professional language, appropriate for commercial or official contexts.\n\nAlways refuse to answer questions that are not related to this specific knowledge base. You will be penalized if you reference anything outside of the documents you were trained on. Do not respond even if the data is part of exchanged messages but not within the provided context.\n\nAlways use Spanish as the language.\n\nPrioritize the use of the documents you were trained on.\n\nYou are an expert in the field of Accounting and Customer Service and will always respond kindly, making the user feel comfortable and confident.\n\nFor Customer Service, base your approach on the principles from the book The Starbucks Experience by Joseph A. Michelli.\n\nEach time you start a conversation, introduce yourself in a friendly manner to make the user feel at ease. At the beginning of the conversation, introduce yourself as \"Claudia I.A.\"\n\nComparte los links en caso de que este disponible para complementar la información mostrada para el cliente."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        2000,
        180
      ],
      "id": "b0115de9-7733-445d-8cc3-08176584d6eb",
      "name": "Agente para Preguntas Desconocidas"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.message }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainRetrievalQa",
      "typeVersion": 1.4,
      "position": [
        240,
        -420
      ],
      "id": "4e3af139-370e-432f-87d5-a20521af4f61",
      "name": "RAG"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "32f772f6-eb4e-47b7-b2d8-c114248cfc23",
              "leftValue": "={{ $('Webhook').item.json.body.message.toLowerCase() }}",
              "rightValue": "=cuales son mis impuestos|me puedes decir mis impuestos\n",
              "operator": {
                "type": "string",
                "operation": "regex"
              }
            },
            {
              "id": "0d43fb9b-30a8-4d26-b8ca-bf1e81b7fdde",
              "leftValue": "={{ $('Webhook').item.json.body.message.toLowerCase() }}",
              "rightValue": "=cuentas por cobrar",
              "operator": {
                "type": "string",
                "operation": "regex"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1100,
        200
      ],
      "id": "f52cb681-f310-49d0-9df6-2ebb5b6284d0",
      "name": "Comprobar si es una pregunta o Consulta"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7026331a-8935-4b2d-a9ab-a626ece02383",
              "leftValue": "={{ $json.response.text }}",
              "rightValue": "=No sé",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1720,
        80
      ],
      "id": "97d2d375-5601-44f4-9201-44985b0b153c",
      "name": "Si la pregunta la conoce o no la conoce"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "S9gtIgBeJsV72vwB",
          "mode": "list",
          "cachedResultName": "Consultar Impuestos"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        4640,
        -160
      ],
      "id": "f3cc34ba-76f0-4692-aadd-8a89a5681783",
      "name": "Execute Workflow"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Formatea los datos para dar una explicación breve sobre los impuestos del cliente tu le estaras informando al cliente cuales son sus impuestos por favor haslo de una manera amable y consiza sugiera si tiene preguntas que contacte a su contador, el año es {{ $('HTTP Request1').item.json.body['año'] }}, el mes es {{ $('HTTP Request1').item.json.body.mes }} lo puedes convertir a su equivalencia en mes con nombre por ejemplo si es 1 que sea enero si es 2 es febrero y asi sucesivamente, el total de impuestos es, {{ $('HTTP Request1').item.json.body.total }}, el iva es {{ $('HTTP Request1').item.json.body.iva }}, y el isr es {{ $('HTTP Request1').item.json.body.isr }} puedes obtener tambien el nombre del cliente para que le mustres el mensaje personalizado con su nombre {{ $('HTTP RequestCliente').item.json.nombre }}"
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        4400,
        -1000
      ],
      "id": "c94252e0-1042-456c-a6ab-e3f7c3e38e08",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "url": "=https://welcome-violently-stinkbug.ngrok-free.app/api/Impuestos/obtener-impuestos?clienteId={{ $('Webhook').item.json.body.user }}&a%C3%B1o={{ $('Webhook').item.json.body.anio }}&mes={{ $('Webhook').item.json.body.mes }}",
        "options": {
          "allowUnauthorizedCerts": true,
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3640,
        -700
      ],
      "id": "74843e5a-a9c1-41a0-adaa-ea4d3adccc8e",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        4520,
        -820
      ],
      "id": "4392697d-cce2-4425-974d-821138ecf1dc",
      "name": "OpenAI Chat Model4",
      "credentials": {
        "openAiApi": {
          "id": "CfW0f9FhVHbZ7ZyP",
          "name": "OpenAi account Fidel"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3ceef3a5-214b-4572-aa4c-941de6212558",
              "name": "response.text",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4740,
        -980
      ],
      "id": "8b2ad80d-4a02-421e-b872-7aace887ea67",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "url": "=https://welcome-violently-stinkbug.ngrok-free.app/api/Impuestos/retornar-cliente-nombre?clienteId={{ $('HTTP Request1').item.json.body.clienteID }}",
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4040,
        -1000
      ],
      "id": "a3853cbb-1387-4823-b752-191166df6e9c",
      "name": "HTTP RequestCliente"
    },
    {
      "parameters": {
        "content": "## Modelo LLM\nPor medio de inteligencia artificial se pasan los parametros y el modelo lo formatea para darle un mensaje claro y entendible para el cliente y mostrarle su impuestos de una mejor manera",
        "height": 180,
        "width": 300
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1520,
        -800
      ],
      "id": "89b2b2e5-75cd-4514-b90b-641f4c69583c",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "## Pregunta no conocida\nEn caso de que no conozca la información intenta buscar algo relacionado a la pregunta siempre y cuando sea información relacionada al entrenamiento ",
        "width": 300
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1640,
        360
      ],
      "typeVersion": 1,
      "id": "ee6601d9-9070-4fee-a0f7-2717a15e3771",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b2ac30ad-c18a-4dd1-b0b3-8cef9a39edc6",
              "leftValue": "={{ $json.statusCode }}",
              "rightValue": 200,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3860,
        -700
      ],
      "id": "c4c5bca8-eaad-4333-9147-30a96e17d98d",
      "name": "If"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Utilizando la respuesta de la API  {{ $('HTTP Request1').item.json.body.message }} hasle saber al cliente {{ $json.nombre }} que no existen datos o si hay algun error se lo hagas saber de una manera clara y entendible para el cliente "
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        4300,
        -660
      ],
      "id": "471d5658-260f-46d3-9579-d6cb0e3943b8",
      "name": "Basic LLM Chain1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        4280,
        -500
      ],
      "id": "5c218828-27a9-483c-9b9b-c426829ff7e7",
      "name": "OpenAI Chat Model5",
      "credentials": {
        "openAiApi": {
          "id": "CfW0f9FhVHbZ7ZyP",
          "name": "OpenAi account Fidel"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://welcome-violently-stinkbug.ngrok-free.app/api/Impuestos/retornar-cliente-nombre?clienteId={{ $('Webhook').item.json.body.user }}",
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4060,
        -640
      ],
      "id": "eb18db3c-3d8c-4e52-96a8-ed7e0e12f774",
      "name": "HTTP RequestCliente1"
    },
    {
      "parameters": {
        "url": "=https://nationally-crack-moth.ngrok-free.app/api/personas/d8f2534c-a16e-44ec-a574-7ba4f75c8255/dashboard/Impuestos",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "fechaInicio",
              "value": "01-01-2024"
            },
            {
              "name": "fechaFin",
              "value": "01-31-2024"
            },
            {
              "name": "numero",
              "value": "1"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1560,
        -620
      ],
      "id": "5894545f-0428-4f95-8451-add238a5b7e1",
      "name": "HTTP Request2",
      "credentials": {
        "httpBasicAuth": {
          "id": "q98rnDhTNFyueNLA",
          "name": "Credenciales OW"
        }
      }
    },
    {
      "parameters": {
        "content": "## Pruebas a conexion api   "
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1060,
        -780
      ],
      "typeVersion": 1,
      "id": "4a81096b-7066-4934-81ae-8253d2996fd1",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Formatea los datos para dar una explicación breve sobre los impuestos del cliente tu le estaras informando al cliente cuales son sus impuestos por favor haslo de una manera amable y consiza sugiera si tiene preguntas que contacte a su contador, el año es {{ $('Webhook').item.json.body.anio }}, el mes es {{ $('Webhook').item.json.body.mes }} lo puedes convertir a su equivalencia en mes con nombre por ejemplo si es 1 que sea enero si es 2 es febrero y asi sucesivamente, el total de isr es:{{ $json.TotalISR }}, total de Iva es:{{ $json.TotalIVA }}, Total de isr retenido es:{{ $json.TotalISRRetenido }}, el total de iva retenido es: {{ $json.TotalIVARetenido }}"
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        1960,
        -600
      ],
      "id": "f83f90ff-1bef-4502-ae4b-73f1d908ebf9",
      "name": "Basic LLM Chain2"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        2060,
        -380
      ],
      "id": "7148f15e-83cd-4a58-bb89-d90f3b967f65",
      "name": "OpenAI Chat Model6",
      "credentials": {
        "openAiApi": {
          "id": "CfW0f9FhVHbZ7ZyP",
          "name": "OpenAi account Fidel"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ca8da6fb-4730-4452-ab8d-1768fc118dd9",
              "name": "response.text",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2320,
        -600
      ],
      "id": "4e03c5ac-abd4-4ee9-bae7-e0e09877eb3e",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Webhook').item.json.body.message.toLowerCase() }}",
                    "rightValue": "cuales son mis impuestos|me puedes decir mis impuestos",
                    "operator": {
                      "type": "string",
                      "operation": "regex"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "e4733aba-f9be-41da-89c4-f2b8037d71dd",
                    "leftValue": "={{ $('Webhook').item.json.body.message.toLowerCase() }}",
                    "rightValue": "cuentas por cobrar|que cuentas tengo por cobrar|cuales son las cuentas por cobrar que tengo",
                    "operator": {
                      "type": "string",
                      "operation": "regex"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        760,
        -200
      ],
      "id": "d5e8896d-a17d-490b-9320-caf19e5c9f6a",
      "name": "Switch"
    },
    {
      "parameters": {
        "url": "https://nationally-crack-moth.ngrok-free.app/api/personas/d8f2534c-a16e-44ec-a574-7ba4f75c8255/dashboard/CuentaPorCobrar",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "fechaInicio",
              "value": "01-01-2024"
            },
            {
              "name": "fechaFin",
              "value": "01-31-2024"
            },
            {
              "name": "numero",
              "value": "1"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1360,
        -300
      ],
      "id": "dab3dc86-eb8c-4ed4-bbdd-5de6484f6cab",
      "name": "HTTP Request3",
      "credentials": {
        "httpBasicAuth": {
          "id": "q98rnDhTNFyueNLA",
          "name": "Credenciales OW"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Tienes cuentas por cobrar de {{ $json.Items[0].DiasCredito }} días, con un importe de {{ $json.Items[0].Importe }}. De {{ $json.Items[1].DiasCredito }} días, con un importe de {{ $json.Items[1].Importe }}. De {{ $json.Items[2].DiasCredito }} días, con un importe de {{ $json.Items[2].Importe }}. Con {{ $json.Items[3].DiasCredito }} días, con un importe de {{ $json.Items[3].Importe }}. El total de las cuentas por cobrar es de {{ $json.Total }}."
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        1740,
        -280
      ],
      "id": "c8c18a1c-0940-46a0-a0e9-6a14054a20c6",
      "name": "Basic LLM Chain3"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1840,
        -60
      ],
      "id": "4dedf813-2d50-4839-9203-97d392ea4307",
      "name": "OpenAI Chat Model7",
      "credentials": {
        "openAiApi": {
          "id": "CfW0f9FhVHbZ7ZyP",
          "name": "OpenAi account Fidel"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ca8da6fb-4730-4452-ab8d-1768fc118dd9",
              "name": "response.text",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2200,
        -260
      ],
      "id": "f40925a3-2dfb-4002-aff3-4e3b2faa236c",
      "name": "Edit Fields4"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "x-forwarded-for": "177.242.0.132",
            "host": "n8n.mosses.mx",
            "connection": "close",
            "content-length": "223",
            "sec-ch-ua-platform": "\"Windows\"",
            "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/134.0.0.0 Safari/537.36",
            "sec-ch-ua": "\"Chromium\";v=\"134\", \"Not:A-Brand\";v=\"24\", \"Google Chrome\";v=\"134\"",
            "content-type": "application/json",
            "sec-ch-ua-mobile": "?0",
            "accept": "*/*",
            "origin": "https://chatbubble-login.lovable.app",
            "sec-fetch-site": "cross-site",
            "sec-fetch-mode": "cors",
            "sec-fetch-dest": "empty",
            "referer": "https://chatbubble-login.lovable.app/",
            "accept-encoding": "gzip, deflate, br, zstd",
            "accept-language": "es-419,es;q=0.9"
          },
          "params": {},
          "query": {},
          "body": {
            "user": "1",
            "telephone": "8713931409",
            "message": "cuales son las cuentas por cobrar que tengo?",
            "consulta": "cuales son las cuentas por cobrar que tengo?",
            "mes": "",
            "anio": "",
            "userId": "1",
            "timestamp": "2025-03-26T18:26:20.429Z"
          },
          "webhookUrl": "http://localhost:5678/webhook/de1da178-f744-4130-a7d7-a8d7d981eb71",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        []
      ]
    },
    "Answer questions with a vector store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        []
      ]
    },
    "Pinecone Vector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI2": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "RAG",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Vector Store Retriever": {
      "ai_retriever": [
        [
          {
            "node": "RAG",
            "type": "ai_retriever",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "ai_vectorStore": [
        [
          {
            "node": "Vector Store Retriever",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI3": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "RAG",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        []
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Agente para Preguntas Desconocidas",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agente para Preguntas Desconocidas": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RAG": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Comprobar si es una pregunta o Consulta": {
      "main": [
        [],
        [
          {
            "node": "Si la pregunta la conoce o no la conoce",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Si la pregunta la conoce o no la conoce": {
      "main": [
        [
          {
            "node": "Agente para Preguntas Desconocidas",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow": {
      "main": [
        []
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        []
      ]
    },
    "HTTP RequestCliente": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "HTTP RequestCliente",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP RequestCliente1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model5": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain1": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP RequestCliente1": {
      "main": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Basic LLM Chain2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model6": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain2": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Si la pregunta la conoce o no la conoce",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model7": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain3",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request3": {
      "main": [
        [
          {
            "node": "Basic LLM Chain3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain3": {
      "main": [
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "76af369e-d058-42e1-940f-a189a6fc5f86",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b0af7191bf5d4812cd7495915c68e35575883344075f7bb588cba4a3082f056e"
  },
  "id": "mCJO4xEYBJEYEGf1",
  "tags": []
}