PF_RESICO.json
{
  "name": "PF RESICO",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "pfResico",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        160,
        720
      ],
      "id": "9717758b-08cf-4f18-bf55-00e362c76181",
      "name": "Webhook",
      "webhookId": "a16ac81c-790e-44dc-8980-0e0962de3c8a"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={\n  \"response\": \"{{ $json.response.text }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        2980,
        620
      ],
      "id": "1a3ddf71-70d1-46a0-9ea3-bd42a7e7da86",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "content": "## Inicio del chat \nSe debe de configurar un mensaje de bienvenida inicial desde la web o aplicación donde se desplegara"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        140,
        560
      ],
      "typeVersion": 1,
      "id": "204402af-952e-4e09-8b6d-18c97b25df9a",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Buscar información en la base de datos \nLo analisa con un embedding y regresa la informacion transformada y para poder responder a la consulta",
        "height": 200
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        780,
        800
      ],
      "typeVersion": 1,
      "id": "f9cb1780-f511-4232-b30f-d371797c3f4e",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Cuáles son mis impuestos?\nConsulta en la api con el id del cliente cuales son sus impuestos, de igual manera se consulta el nombre",
        "height": 200
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1060,
        300
      ],
      "typeVersion": 1,
      "id": "d0ff414c-3d37-41ac-8d9b-4c5d6e25af9b",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {
          "maxTokens": 250,
          "responseFormat": "text",
          "temperature": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        480,
        60
      ],
      "id": "fa35f727-97a3-423a-b30f-32220957e5ff",
      "name": "OpenAI Chat Model3",
      "credentials": {
        "openAiApi": {
          "id": "CfW0f9FhVHbZ7ZyP",
          "name": "OpenAi account Fidel"
        }
      }
    },
    {
      "parameters": {
        "topK": 10
      },
      "type": "@n8n/n8n-nodes-langchain.retrieverVectorStore",
      "typeVersion": 1,
      "position": [
        620,
        20
      ],
      "id": "6dec8e1b-e499-4e6f-9638-428a4b18be8c",
      "name": "Vector Store Retriever"
    },
    {
      "parameters": {
        "pineconeIndex": {
          "__rl": true,
          "value": "pfresico",
          "mode": "list",
          "cachedResultName": "pfresico"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1,
      "position": [
        620,
        160
      ],
      "id": "d1d924ef-add2-414c-92d0-342dc78eb3f7",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "YkWFte4JVNpkRoSF",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        640,
        340
      ],
      "id": "c175bf87-d23b-4120-b9e0-8b7841941cb5",
      "name": "Embeddings OpenAI3",
      "credentials": {
        "openAiApi": {
          "id": "CfW0f9FhVHbZ7ZyP",
          "name": "OpenAi account Fidel"
        }
      }
    },
    {
      "parameters": {
        "content": "## RAG AI Agent",
        "height": 1460,
        "width": 3340,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        80,
        -60
      ],
      "id": "6ca53360-6ed3-4f0c-8059-37cc699df94c",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        2260,
        1160
      ],
      "id": "c721a75d-c57b-46ae-ae4c-ac92238d6267",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "CfW0f9FhVHbZ7ZyP",
          "name": "OpenAi account Fidel"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"response.text\" : \"{{ $('AI Agent').item.json.output.replace(/\\n+/g, ' ') }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2660,
        960
      ],
      "id": "8e0b82b7-0312-4c9e-8fb2-ed3bd1c23d5b",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Webhook').item.json.body.message }}",
        "options": {
          "systemPromptTemplate": "=Use the following pieces of context to answer the users question.\nIf you don't know the answer, just say that you don't know, don't try to make up an answer.\n----------------\n {{ $json.output }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainRetrievalQa",
      "typeVersion": 1.4,
      "position": [
        520,
        -180
      ],
      "id": "feea100c-33fb-4ab4-bf08-1493b7e1c9cf",
      "name": "RAG"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "32f772f6-eb4e-47b7-b2d8-c114248cfc23",
              "leftValue": "={{ $('Webhook').item.json.body.message.toLowerCase() }}",
              "rightValue": "=cuales son mis impuestos|me puedes decir mis impuestos\n",
              "operator": {
                "type": "string",
                "operation": "regex"
              }
            },
            {
              "id": "0d43fb9b-30a8-4d26-b8ca-bf1e81b7fdde",
              "leftValue": "={{ $('Webhook').item.json.body.message.toLowerCase() }}",
              "rightValue": "=cuentas por cobrar",
              "operator": {
                "type": "string",
                "operation": "regex"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1400,
        980
      ],
      "id": "ff3dfacd-1a68-4664-b272-701c21692ed5",
      "name": "Comprobar si es una pregunta o Consulta"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7026331a-8935-4b2d-a9ab-a626ece02383",
              "leftValue": "={{ $json.response.text }}",
              "rightValue": "=No sé",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2020,
        860
      ],
      "id": "22120839-8196-4a19-9c14-8afed519c4fb",
      "name": "Si la pregunta la conoce o no la conoce"
    },
    {
      "parameters": {
        "content": "## Modelo LLM\nPor medio de inteligencia artificial se pasan los parametros y el modelo lo formatea para darle un mensaje claro y entendible para el cliente y mostrarle su impuestos de una mejor manera",
        "height": 180,
        "width": 300
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1820,
        -20
      ],
      "id": "885304d5-8f32-488c-a287-a508249c504b",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "## Pregunta no conocida\nEn caso de que no conozca la información intenta buscar algo relacionado a la pregunta siempre y cuando sea información relacionada al entrenamiento ",
        "width": 300
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1940,
        1140
      ],
      "typeVersion": 1,
      "id": "8bffe02d-37b3-4eba-b93a-0759b406bfc6",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "url": "=https://nationally-crack-moth.ngrok-free.app/api/personas/d8f2534c-a16e-44ec-a574-7ba4f75c8255/dashboard/Impuestos",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "fechaInicio",
              "value": "={{ $('Webhook').item.json.body.mes }}-01-{{ $('Webhook').item.json.body.anio }}"
            },
            {
              "name": "fechaFin",
              "value": "={{ $('Webhook').item.json.body.ultimoDia }}"
            },
            {
              "name": "numero",
              "value": "={{ $('Webhook').item.json.body.mes }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1860,
        160
      ],
      "id": "5c6181b1-ca3b-4b7e-8f44-2def59b30ff5",
      "name": "HTTP Request2",
      "credentials": {
        "httpBasicAuth": {
          "id": "q98rnDhTNFyueNLA",
          "name": "Credenciales OW"
        }
      }
    },
    {
      "parameters": {
        "content": "## Pruebas a conexion api   "
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1360,
        0
      ],
      "typeVersion": 1,
      "id": "3d4f0011-f6f0-4915-806c-c2379ff9e627",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Formatea los datos para dar una explicación breve sobre los impuestos del cliente tu le estaras informando al cliente cuales son sus impuestos por favor haslo de una manera amable y consiza sugiera si tiene preguntas que contacte a su contador, el año es {{ $('Webhook').item.json.body.anio }}, el mes es {{ $('Webhook').item.json.body.mes }} lo puedes convertir a su equivalencia en mes con nombre por ejemplo si es 1 que sea enero si es 2 es febrero y asi sucesivamente, el total de isr es:{{ $json.TotalISR }}, total de Iva es:{{ $json.TotalIVA }}, Total de isr retenido es:{{ $json.TotalISRRetenido }}, el total de iva retenido es: {{ $json.TotalIVARetenido }}\n\nSi los datos de iva, isr y total son 0 o no existen haslo saber dile que contacte con su contador y no muestres nada del resumen anterior solo esta recomendacion por favor"
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        2260,
        180
      ],
      "id": "268c5baf-b78e-4c37-a87a-3f9ea63fe35f",
      "name": "Basic LLM Chain2"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        2360,
        400
      ],
      "id": "33f73561-6f34-43ce-8056-a6aeff8dbf78",
      "name": "OpenAI Chat Model6",
      "credentials": {
        "openAiApi": {
          "id": "CfW0f9FhVHbZ7ZyP",
          "name": "OpenAi account Fidel"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ca8da6fb-4730-4452-ab8d-1768fc118dd9",
              "name": "response.text",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2620,
        180
      ],
      "id": "b05c5eef-12df-407f-a9f4-fca92875ffeb",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Webhook').item.json.body.message.toLowerCase() }}",
                    "rightValue": "cuales son mis impuestos|me puedes decir mis impuestos",
                    "operator": {
                      "type": "string",
                      "operation": "regex"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "e4733aba-f9be-41da-89c4-f2b8037d71dd",
                    "leftValue": "={{ $('Webhook').item.json.body.message.toLowerCase() }}",
                    "rightValue": "cuentas por cobrar|que cuentas tengo por cobrar|cuales son las cuentas por cobrar que tengo",
                    "operator": {
                      "type": "string",
                      "operation": "regex"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1060,
        580
      ],
      "id": "9f6ccf91-1f5a-482b-8a32-3cf19d3aa616",
      "name": "Switch"
    },
    {
      "parameters": {
        "url": "https://nationally-crack-moth.ngrok-free.app/api/personas/d8f2534c-a16e-44ec-a574-7ba4f75c8255/dashboard/CuentaPorCobrar",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "fechaInicio",
              "value": "01-01-2024"
            },
            {
              "name": "fechaFin",
              "value": "01-31-2024"
            },
            {
              "name": "numero",
              "value": "1"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1660,
        480
      ],
      "id": "781c6c6a-4250-4e92-b321-9c39fb0efa56",
      "name": "HTTP Request3",
      "credentials": {
        "httpBasicAuth": {
          "id": "q98rnDhTNFyueNLA",
          "name": "Credenciales OW"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Tienes cuentas por cobrar de {{ $json.Items[0].DiasCredito }} días, con un importe de {{ $json.Items[0].Importe }}. De {{ $json.Items[1].DiasCredito }} días, con un importe de {{ $json.Items[1].Importe }}. De {{ $json.Items[2].DiasCredito }} días, con un importe de {{ $json.Items[2].Importe }}. Con {{ $json.Items[3].DiasCredito }} días, con un importe de {{ $json.Items[3].Importe }}. El total de las cuentas por cobrar es de {{ $json.Total }}."
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        2040,
        500
      ],
      "id": "f0229853-6e73-4a1d-ba18-47b5c2301284",
      "name": "Basic LLM Chain3"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        2140,
        720
      ],
      "id": "129f31cf-ad5f-48ed-afe9-dff770bc69ca",
      "name": "OpenAI Chat Model7",
      "credentials": {
        "openAiApi": {
          "id": "CfW0f9FhVHbZ7ZyP",
          "name": "OpenAi account Fidel"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ca8da6fb-4730-4452-ab8d-1768fc118dd9",
              "name": "response.text",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2500,
        520
      ],
      "id": "0dc36dbc-fc30-493c-a358-95f8d00f6fdc",
      "name": "Edit Fields4"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Webhook').item.json.body.userId }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        2380,
        1160
      ],
      "id": "e6267210-1d71-45ef-bfb1-15763c470921",
      "name": "Window Buffer Memory1"
    },
    {
      "parameters": {
        "agent": "conversationalAgent",
        "promptType": "define",
        "text": "={{ $json.body.message }}",
        "options": {
          "systemMessage": "Utiliza un lenguaje cortés y profesional, adecuado para contextos comerciales u oficiales.\n\nPriorice el uso de los documentos en los que recibió capacitación.\nEres  Experto en el tema de Contabilidad y Atención al cliente y siempre contestaras de manera amable y siempre harás sentir al usuario en confianza\n\nA cada consulta muéstrala como la mas actual por ejemplo el año en el que estamos actualmente es 2025 muestra que la información esta actualizada\n\nSiempre utiliza la información que tienes en tu base de datos de vector store antes de realizar una respuesta fuera de ese contexto\n\nNo respondas preguntas que estén fuera del contexto con el que fuiste creado extrae la información desde la base de datos para mejor respuesta\n\nPor favor cuando te pregunten información y si la información es sobre México por favor omite la palabra o frece \"En México\" y no respondas consultas que te hagan de algún otro país "
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        460,
        620
      ],
      "id": "66096665-350e-4e53-8c82-932cd750fafe",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {
          "responseFormat": "text",
          "temperature": 0.2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        420,
        840
      ],
      "id": "cd9f6e35-6ac3-4e4f-89ad-d348349f8455",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "CfW0f9FhVHbZ7ZyP",
          "name": "OpenAi account Fidel"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.body.user }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        580,
        840
      ],
      "id": "83eecde7-fdaf-4cbc-9346-324f256d3401",
      "name": "Window Buffer Memory"
    },
    {
      "parameters": {
        "pineconeIndex": {
          "__rl": true,
          "value": "pfresico",
          "mode": "list",
          "cachedResultName": "pfresico"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1,
      "position": [
        500,
        1200
      ],
      "id": "d0c7892d-1b4a-465b-bc34-4171ea17f9f8",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "YkWFte4JVNpkRoSF",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        620,
        1340
      ],
      "id": "149d00b7-ff82-4217-9752-9ffb77d7a67b",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "CfW0f9FhVHbZ7ZyP",
          "name": "OpenAi account Fidel"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {
          "temperature": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        780,
        1240
      ],
      "id": "6318cdf6-52bc-4ba0-bfac-49c36d6ce54b",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "CfW0f9FhVHbZ7ZyP",
          "name": "OpenAi account Fidel"
        }
      }
    },
    {
      "parameters": {
        "name": "SueldosySalarios",
        "description": "Busca en la base de datos para extraer la informacion de Sueldos y Salarios de la base de datos de Pinecone para las respuestas para las consultas del usuario ",
        "topK": 10
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1,
      "position": [
        640,
        1020
      ],
      "id": "9f306347-a01f-4e36-afbe-f946890fed44",
      "name": "Base de datos"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.4,
      "position": [
        80,
        -60
      ],
      "id": "f2cb65cb-a49b-4c9c-9cc1-6d436b4fc354",
      "name": "Redis Chat Memory"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "x-forwarded-for": "177.242.0.132",
            "host": "n8n.mosses.mx",
            "connection": "close",
            "content-length": "244",
            "sec-ch-ua-platform": "\"Windows\"",
            "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/134.0.0.0 Safari/537.36",
            "sec-ch-ua": "\"Chromium\";v=\"134\", \"Not:A-Brand\";v=\"24\", \"Google Chrome\";v=\"134\"",
            "content-type": "application/json",
            "sec-ch-ua-mobile": "?0",
            "accept": "*/*",
            "origin": "null",
            "sec-fetch-site": "cross-site",
            "sec-fetch-mode": "cors",
            "sec-fetch-dest": "empty",
            "accept-encoding": "gzip, deflate, br, zstd",
            "accept-language": "es-419,es;q=0.9"
          },
          "params": {},
          "query": {},
          "body": {
            "user": "d8f2534c-a16e-44ec-a574-7ba4f75c8255",
            "message": "cuales son mis impuestos de febrero?",
            "consulta": "cuales son mis impuestos",
            "mes": "02",
            "nombreMes": "febrero",
            "anio": "2025",
            "ultimoDia": "2/28/2025",
            "timestamp": "2025-04-03T17:06:18.896Z"
          },
          "webhookUrl": "http://localhost:5678/webhook/pfResico",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "RAG",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Vector Store Retriever": {
      "ai_retriever": [
        [
          {
            "node": "RAG",
            "type": "ai_retriever",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "ai_vectorStore": [
        [
          {
            "node": "Vector Store Retriever",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI3": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RAG": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Comprobar si es una pregunta o Consulta": {
      "main": [
        [],
        [
          {
            "node": "Si la pregunta la conoce o no la conoce",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Si la pregunta la conoce o no la conoce": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Basic LLM Chain2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain2": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model6": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Si la pregunta la conoce o no la conoce",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Si la pregunta la conoce o no la conoce",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request3": {
      "main": [
        [
          {
            "node": "Basic LLM Chain3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain3": {
      "main": [
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model7": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain3",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "RAG",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "Base de datos",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Base de datos",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Base de datos": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "88cf417b-a8ef-4b96-953c-3f40631ac276",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b0af7191bf5d4812cd7495915c68e35575883344075f7bb588cba4a3082f056e"
  },
  "id": "L4kQp5TA7jAGJ89V",
  "tags": []
}